* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  gap: 1em;    
  
  background: linear-gradient(270deg, #ff0000, #ff8900, #ffee00, #7fff00, #00ff0d, #00ffc0, #0026ff, #8300ff, #f700ff);
  background-size: 1800% 1800%;
  animation: AnimationName 15s ease infinite;
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.spinner-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 15px;
  gap: 1em;
}


.spinner {
  display: flex;
  animation: spinning 2s infinite linear;
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

h3 {
  display: flex;
  gap: .3em;
}

.fadeIn-1 {
  display: flex;
  animation: slide-fade-in 1s infinite ease;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-2 {
  display: flex;
  animation: slide-fade-in 1s infinite ease;
  animation-delay: .8s;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-3 {
  display: flex;
  animation: slide-fade-in 1s infinite ease;
  animation-delay: .6s;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}